<!DOCTYPE html>
<html>
<head>
    <title>Log in</title>
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $('#browserid').click(function (e) {
            e.preventDefault();
            var self = $(this);

            navigator.id.get(function (assertion) {
                if (assertion) {
                    var $form = self.parent('form');
                    $form.find('input[name=assertion]')
                                .attr('value', assertion);
                    $form.submit();
                } else {
                    alert('Some error occurred');
                }
            });
        });
    });
    </script>
</head>
<body>
    <!-- BrowserID results form -->
    <form method="post" action="{% url 'socialauth_complete' "browserid" %}">
        <input type="hidden" name="assertion" value="" />
        <button id="browserid">Log in with Persona</button>
    </form>
</body>
</html>
